.custom-container {
    background-color: #696969;
    color: #FFF; 
    height: 20vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
  }

.head-container {
    background-color: #808080; 
    color: #fff; 
    height: 10vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}